<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Júlia Emanuelly</h1>
    </header>

    <nav>
        <a href="#sobre">Sobre</a>
        <a href="#projetos">Projetos</a>
        <a href="#contato">Contato</a>
    </nav>

    <section id="sobre">
        <h2>Sobre Mim</h2>
        <p>Oi, meu nome é Júlia, tenho 18 anos e gosto de aprender coisas novas, conhecer pessoas, dar risada e aproveitar os momentos simples. Tento sempre dar o meu melhor em tudo que faço, mas também aprendi a respeitar meu tempo. Ainda tô me entendendo, me conhecendo, mas acho que isso faz parte do processo e tudo bem.</p>
    </section>

    <section id="projetos">
        <h2>BFS</h2>
        <ul>
           <img src="{{ url_for('static', filename='bfs.png') }}" alt="Projeto 3" width="500" height="300">


        </ul>
    </section>

    <section id="projetos">
        <h2>Cenário</h2>
        <ul>
            <img src="{{ url_for('static', filename='cenario.png') }}" alt="Projeto 3" width="500" height="300">

  
        </ul>
    </section>

        <section id="projetos">
        <h2>Login</h2>
        <ul>
             <img src="{{ url_for('static', filename='login.png') }}" alt="Projeto 3" width="500" height="300">


        </ul>
    </section>

        <section id="projetos">
        <h2>Sinuca</h2>
        <ul>
          <img src="{{ url_for('static', filename='sinuca.png') }}" alt="Projeto 3" width="500" height="300">

        </ul>
    </section>


        </code></pre>
    </section>

    <section id="contato">
        <h2>Contato</h2>
        <p>Email: juliaemanuellydasilvacosta@gmail.com</p>
        <p>Telefone: (27) 99265-2281</p>
    </section>

    <footer>
        <p>&copy; 2025 Júlia. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
